@model List<Category>

@{
    ViewData["Title"] = "Category Page";
    Layout = "_LayoutAdmin";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Category</h2>
            <p>
                <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryId</td>
                            <td>@category.Name</td>
                            <td>@category.Description</td>
                            <td>
                                <div class=" btn-group-sm" role="group" aria-label="Order Actions">
                                    <a href="@Url.Action("Details", new { id = category.CategoryId })" class="btn btn-info">Details</a>
                                    <a href="@Url.Action("Edit", new { id = category.CategoryId })" class="btn btn-warning">Edit</a>
                                    <form asp-action="Delete" asp-route-id="@category.CategoryId" method="post" onsubmit="return confirm('Are you sure you want to delete this category?');" style="display:inline;">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>